{% extends 'layout/modal_layout.html' %}
{% block modal_id %}checkwaynum-modal{% endblock %}

{% block modal_header %}
  <h3>안내 문자 발송하기</h3>

  <div class="tab-menu">
    <button type="button" class="tab-btn active" data-tab="mobile-way">모바일</button>
    <button type="button" class="tab-btn" data-tab="pc-way">PC</button>
  </div>
{% endblock %}

{% block modal_content %}

  <div id="mobile-way" class="tab-content active">
    <video width="100%" autoplay muted loop playsinline>
      <source src="{{ url_for('static', filename='video/mobile-guid.mp4')}}" type="video/mp4">
      브라우저가 비디오 태그를 지원하지 않습니다.
    </video>
  </div>

  <div id="pc-way" class="tab-content">
    <video width="100%" autoplay muted loop playsinline>
      <source src="{{ url_for('static', filename='video/pc-guid.mp4')}}" type="video/mp4">
      브라우저가 비디오 태그를 지원하지 않습니다.
    </video>
  </div>
  <a href = "https://pay.naver.com/pc/history?page=1" class = "reservation-link-btn">예약 페이지 바로가기</a>
{% endblock %}