{% extends 'layout/main_layout.html' %}
{% block title %} {{store.name}} 페이지 {% endblock %}

{% block head %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId={{ naver_map_id }}"></script>
{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin/register_store.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/store_inf.css')}}">
{% endblock %}

{% set header_title = store.name%}
{% block content %}
<div class = "store-inf-img-container">
  <img class = "register-store-img" src ="{{store.img_url}}" alt="{{store.name}} 메인 이미지">
</div>

<div class = "store-inf-txt-container">
  <div class = "store-inf-txt-title">
    <h3>{{store.name}}</h3>
    <p>({{store.category}})</p>
  </div>
  <div class = "store-inf-txt-tag">
    <div class = "store-inf-txt-hashtag">
      <span>{{store.hashtag_first}}</span>
      <span>{{store.hashtag_second}}</span>
      <span>{{store.hashtag_third}}</span>
    </div>
  </div>
</div>

<div class = "store-inf-ad-text-container">
  <div class = "benefit-wrap">
    <p>혜택</p>
    <div class = "benefit-qr-href-wrap">
      <div class="benefit-wrap-span">
        <span>{{store.benefit}}</span>
        <span>{{store.benefit_condition}}</span>
      </div>
      <button type="button" class="btn-solid" id="open-qr-btn">QR 찍으러가기</button>
    </div>
  </div>
</div>

<div class = "store-inf-ad-text-container">
  <div class = "benefit-wrap">
    <p>찾아가는 길</p>
    <div class = "benefit-qr-href-wrap">
      <div class="benefit-wrap-span">
        <span>{{store.main_address}}</span>
        <span>{{store.sub_address}}</span>
      </div>
    </div>
  </div>
  <div id="store-detail-map" data-lat="{{ store.latitude | default(37.3595704) }}" data-lng="{{ store.longitude | default(127.105399) }}"
  style="width: 100%; height: 200px; margin-top: 15px; border-radius: 8px; border: 1px solid #eee;"></div>
  <a href="https://map.naver.com/p/directions/-/{{ store.longitude }},{{ store.latitude }},{{ store.name }}/-/bike" target="_blank" class = "store-found-btn">{{store.name}} 길 찾기</a>
</div>
{% include 'modal/qr_modal.html' %}
 
{% endblock %}

{% block script %}
{{ super() }}
<script src="{{url_for('static', filename='js/admin/regist.js')}}"></script>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{url_for('static', filename='js/store_inf.js')}}"></script>
{% endblock %}