{% extends 'layout/main_layout.html' %}
{% block title %} {{store.name}} 쿠폰 {% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin/register_store.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/store_benefit.css')}}">
{% endblock %}

{% set header_title = "쿠폰 혜택" %}

{% block content %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<lottie-player 
    src="https://assets2.lottiefiles.com/packages/lf20_u4yrau.json" 
    background="transparent" 
    speed="0.8" 
    style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: 9999;" 
    autoplay>
</lottie-player>

<div class = "benefit-page-container">

  <div class = "benefit-check-icon">
    {% include 'icon/check-box.html' %}
  </div>

  <div class = "benefit-qr-txt">
    <h2>화면을 보여주세요!</h2>
    <p><strong>{{store.name}}</strong>에서<br>사용가능한 쿠폰을 받아가세요!</p>
  </div>

  <div class = "benefit-store-card">
    {% include 'layout/store_card.html' %}
  </div>

  <div class ="benefit-coupon">
    <h3>사용 가능한 쿠폰</h3>
  </div>

  <div class = "benefit-use-notice-container">
    
    <div class = "benefit-use-notice-icon">
      {% include 'icon/dog.html' %}
    </div>

    <div class = "benefit-use-inf">
      <h3>쿠폰 사용 안내</h3>
      <ul>
        <li>결제 전 쿠폰을 제시해주세요.</li>
        <li>중복 사용은 불가합니다</li>
      </ul>  
    </div>
  </div>

  <div class = "benefit-page-btn">
    <a href="#" class = "btn-outline">매장 상세보기</a>
    <a href="{{url_for('store_list')}}" class = "btn-solid">다른 제휴매장 찾아보기</a>
  </div>
</div>
{% endblock %}    