a{text-decoration: none; color:inherit;}

.index-header-logo{position: absolute; top:0px; left:0;  width: 100%; z-index:10; padding: 10px; display:flex; justify-content: center; pointer-events: none;}
.index-header-logo .logo-image{width: 100px; height: auto; pointer-events: auto; background-color: whtie ;}
.map-container {position:relative; width: 100%;height: 450px; z-index: 2}

.content-container{padding: 20px 20px 50px 20px; text-align: left;background-color: white; display: flex; flex-direction: column; 
gap: 20px; min-height: 100%; position: relative; z-index: 20;}
.top-curve{position: absolute; top: -45px; left:0; width: 100%; height: 60px; background-image: url('../svg/top-curve.svg'); background-size: 100% 100%;
background-repeat: no-repeat; background-position: bottom; filter: drop-shadow(0px -4px 0px rgba(0, 0, 0, 0.05)) }
.paw-icon-wrapper{position: absolute; top: -50px; left: 50%; transform: translateX(-50%); border:none; cursor: pointer; -webkit-tap-highlight-color: transparent;
width: 60px; height: 60px; border-radius: 50%; background-color: white; box-shadow: 0 4px 6px rgba(0,0,0,0.2); transition: transform 0.1s ease-in-out;
display: flex; justify-content: center; align-items: center; z-index: 10; padding: 10px;}
.paw-icon-wrapper:active{transform: translateX(-50%) scale(0.92);}

.user-card-sub{display: flex; justify-content: space-between; width: 100%; box-sizing: border-box; align-items: center; flex:1; margin-top: 5px;}
.user-card-sub p{white-space: nowrap; margin:0; flex:1; min-width: 0; overflow: hidden; text-overflow: ellipsis;}
.admin-btn,.my-position-btn{border:none; padding: 6px 8px; border-radius: 20px; background-color: #1AADB3; color: white; cursor: pointer;
white-space: nowrap; font-size:12px; font-weight: 800; flex-shrink: 0;}
.admin-btn{margin-right: 2px;}

.catery-container{display: flex; justify-content:space-between;}
.all-category{border: none; background-color: transparent; font-weight: 400;}

.store-card-container{display: flex; justify-content: space-between; gap: 10px;}
.store-card{background-color: rgb(255, 255, 255); border-radius: 10px; box-shadow: 0 0 10px rgba(0, 136, 204, 0.2);
padding-bottom: 10px; text-align: left; font-size: 15px; overflow: hidden;}
.store-inf{padding: 10px 0 10px 10px;}
.store-card img{max-width: 100%; height: auto; display: block;}

.store-wrapper .store-item:nth-child(n+3) { display: none; }
.store-wrapper.expanded .store-item { display: block !important; }
.show-more-btn { background-color: white; border: 1px solid #ccc; border-radius: 20px; padding: 10px 24px; color: #555; cursor: pointer; font-size: 14px; font-weight: bold; width: 100%; box-sizing: border-box; 
text-align: center; align-items: center; justify-content: center; display: flex; gap: 5px;}

.summary-sheet{position:fixed; bottom: 0; left:50%; transform: translateX(-50%); width: 100%; max-width: 430px; background-color: white; 
box-shadow: 0 -4px 16px rgba(0,0,0,0.04); border-radius: 20px 20px 0 0; z-index: 1001; padding-bottom: env(safe-area-inset-bottom); transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1); }
.summary-sheet.show{transform: translateY(0);}
.sheet-header{position: relative; display: flex; justify-content: center; align-items: center; margin-bottom: 20px; margin-top: 20px;}
.sheet-handle{width: 36px; height: 4px; background-color: #e0e0e0; border-radius: 2px;}
.close-btn{position: absolute; right: 30px; background: transparent; border: none; font-size: 20px; color: pointer; line-height: 1; font-weight: 700; cursor: pointer;}
.sheet-content{padding: 10px 20px;}
.content-01{display: flex; text-align: center; gap:8px; margin-bottom: 12px;}
.content-01 h3, .content-01 .store-title{margin:0; line-height: 1;}
.contetn-01 .category-badge, #modal-category{margin:0; line-height: 1;}

.btn-navi{width: 100%;}