.benefit-page-container{background: linear-gradient(to bottom, #e1eeff 0%, #f4f8ff 70%, #ffffff 100%); min-height: 100vh; padding-bottom: 40px; 
  border-top-left-radius: 50px; border-top-right-radius: 50px; padding: 50px 20px; display: flex; flex-direction: column;}

.benefit-check-icon{width: 10%; align-self: center; display: flex; justify-content: center; align-items: center; margin-bottom: 10px;}
.benefit-qr-txt{display: flex; flex-direction: column; text-align: center; gap: 20px; margin-bottom: 10px; font-size: 15px;}

.benefit-store-card{margin-top: 20px; margin-bottom: 20px; padding-bottom: 30px; border-bottom: 1px solid #8bbdffa9;}

.benefit-page-btn{display:flex; gap:12px; width: 100%; margin-top: 20px;}
.btn-outline, .btn-solid{flex:1; padding: 15px 0; text-align: center; border-radius: 12px; font-weight: bold; font-size: 15px; text-decoration: none;}
.btn-outline{background-color: white; color: #1a73e8; border: 2px solid #1a73e8; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);}
.btn-solid{background-color: #1a73e8; color: white; border: 2px solid #1a73e8; box-shadow: 0 6px 16px rgba(26, 115, 232, 0.3);} 

.benefit-use-notice-container{position:relative; width:100%; margin-top:90px;}
.benefit-use-notice-icon{position: absolute; right: 24px; top: -60px; z-index: 1; width: 80px;}
.benefit-use-inf{position: relative; z-index: 2; background-color: #1a73e8; border:12px; padding: 10px 50px; border: 2px solid #1a73e8; color: white; 
  border-radius: 12px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);}
.benefit-use-inf h3 {font-size: 15px; font-weight: 700; color: white; margin-bottom: 8px;}
.benefit-use-inf ul { list-style: none; padding-left: 0; margin: 0;}
.benefit-use-inf li {font-size: 13px; color: white; margin-bottom: 4px;position: relative;padding-left: 12px;}
.benefit-use-inf li::before {content: '•';position: absolute;left: 0; color: white;}