.store-list-category-container{display: flex; text-align: left; padding: 14px 15px; gap: 10px; justify-content: center;}
.store-list-category-container button{border: 1px solid 55555; padding: 5px 20px; background: transparent;}


