{% extends 'layout/main_layout.html' %}
{% block title %} 고객관리 {% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin/orderer_list.css')}}">
{% endblock %}

{% set header_title = "고객관리" %}

{% block content %}
<div id = "date-tabs-container" >
</div>

<table>
  <thead>
    <tr>
      <th>예약자명</th>
      <th>옵션</th>
      <th>연락처(4자리)</th>
      <th>문자발송</th>
      <th>대여상태</th>
    </tr>
  </thead>
  <tbody id="order-table-body">
    <tr>
      <td colspan="6" style="text-align: center">데이터를 불러오는 중입니다</td>
    </tr>
  </tbody>
</table>

<template id = "order-row-template">
  <tr>
    <td class="td-name"></td>
    <td class="td-bike"></td>
    <td class="td-phone"></td>
    <td>
      <button class="sms-btn">문자발송</button>
    </td>
    <td>
      <select class="status-select">
        <option value = "예약">예약</option>
        <option value = "대여중">대여중</option>
        <option value = "반납">반납</option>
      </select>
    </td>
  </tr>
</template>

{% endblock %}

{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin/orderer_list.js') }}"></script>
{% endblock %}