{% extends 'layout/main_layout.html' %}
{% import 'macro/store-list-section.html' as ui with context %}
{% import 'macro/banner-ui.html' as banner_ui %}
{% block title %} 메인페이지 {% endblock %}

{% block head %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId={{ naver_map_id }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/admin/register_store.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/macro/banner-ui.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="main-content-container">
    <div class="map-container" id = "map">
      <div class = "index-header-logo">
        <img src = "{{ url_for('static', filename = 'img/logo_summer(round).png')}}" alt = "투게더 로고" class = "logo-image">
      </div>
    </div>

    <div class="content-container">
      <div class = "top-curve"></div>
      <button class = "paw-icon-wrapper">
        <img src ="{{url_for('static', filename='svg/dog_paw.svg')}}" alt="발바닥">
      </button>
      <div class="user-card-title">
        <h3>{{user_name}}님, 어디로 가시나요?</h3>
        <div class = "user-card-sub">
          <p style="color: #2E92E0; font-size: 14px;">내 반려견과 함께 하는 데이트 ♥</p>
          {% if session['user_role'] == 'admin' %}
          <a class="admin-btn" href="{{ url_for('admin.admin_dashboard') }}">관리자 페이지</a>
          {% endif %}
          <a class = "my-position-btn" href="{{ url_for('logout')}}"> 로그아웃 </a>
        </div>
      </div>

      {{ banner_ui.rolling_text_banner(banners) }}
      
      {{ ui.render_section('전체매장', 'all')}}
      {{ ui.render_section('카페·베이커리', '카페·베이커리')}}
      
    </div>
</div>
{% endblock %}

{% block script %}
<script>storeDataList = JSON.parse('{{ stores | tojson | safe }}');</script>
<script src="{{ url_for('static', filename='js/bottom_nav.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}