{% extends 'layout/main_layout.html' %}
{% block title %} 메인페이지 {% endblock %}

{% block head %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId={{ naver_map_id }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="main-content-container">
    <div class="map-container" id = "map">
      <div class = "index-header-logo">
        <img src = "{{ url_for('static', filename = 'img/logo_summer(round).png')}}" alt = "투게더 로고" class = "logo-image">
      </div>
    </div>

    <div class="content-container">
      <div class = "top-curve"></div>
      <button class = "paw-icon-wrapper">
        <img src ="{{url_for('static', filename='svg/dog_paw.svg')}}" alt="발바닥">
      </button>
      <div class="user-card-title">
        <h3>{{user_name}}님, 어디로 가시나요?</h3>
        <div class = "user-card-sub">
          <p style="color: #2E92E0; font-size: 14px;">내 반려견과 함께 하는 데이트 ♥</p>
          {% if session['user_role'] == 'admin' %}
          <a class="admin-btn" href="{{ url_for('admin.admin_dashboard') }}'">관리자 페이지</a>
          {% endif %}
          <button class = "my-position-btn" onclick ="location.href='{{ url_for('logout')}}'"> 로그아웃 </button>
        </div>
      </div>

      <div class = "search-bar">
        여기에 배너(select형태)
      </div>

      <div class = "store-category">    
         
        <div class = "catery-container">
          <h3>카페·식당</h3>
          <button class = "all-category"> 전체보기 ></button>
        </div>
      </div>

      <div class = "store-card-container">
        <div class = "store-card">
          <img src ="{{url_for('static', filename='img/store/11.jpg')}}" alt="11">
          <div class = "store-inf">
            <h3>바베큐팩토리</h3>
            <P style ="font-size: 9px;">넓은 잔디 밭에서 뛰어 놀기 좋아요</P>
          </div>
        </div>

        <div class = "store-card">
          <img src ="{{url_for('static', filename='img/store/22.jpg')}}" alt="11">
          <div class = "store-inf">
            <h3>엘리시흥</h3>
            <P style ="font-size: 9px;">반려견과 함께 즐기는 카페 타임</P>
          </div>
        </div>
      </div>

    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/bottom_nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}