{% extends 'layout/main_layout.html' %}
{% block title %} 메인페이지 {% endblock %}

{% block head %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId={{ naver_map_id }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/admin/register_store.css')}}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="main-content-container">
    <div class="map-container" id = "map">
      <div class = "index-header-logo">
        <img src = "{{ url_for('static', filename = 'img/logo_summer(round).png')}}" alt = "투게더 로고" class = "logo-image">
      </div>
    </div>

    <div class="content-container">
      <div class = "top-curve"></div>
      <button class = "paw-icon-wrapper">
        <img src ="{{url_for('static', filename='svg/dog_paw.svg')}}" alt="발바닥">
      </button>
      <div class="user-card-title">
        <h3>{{user_name}}님, 어디로 가시나요?</h3>
        <div class = "user-card-sub">
          <p style="color: #2E92E0; font-size: 14px;">내 반려견과 함께 하는 데이트 ♥</p>
          {% if session['user_role'] == 'admin' %}
          <a class="admin-btn" href="{{ url_for('admin.admin_dashboard') }}">관리자 페이지</a>
          {% endif %}
          <a class = "my-position-btn" href="{{ url_for('logout')}}"> 로그아웃 </a>
        </div>
      </div>

      <div class = "news-banner-container">
        <div class ="news-badge">공지</div>
          <div class = "news-ticket-window">
            <div class = "news-ticker-track">
              <div class="news-item">(시흥 Now) 시흥시 경마장 유치에 힘써주세요!</div>
              <div class="news-item">(댕댕 정보통) 전국 유일! 우리 강아지랑 함께 타는 투개더 자전거 여행!</div>
              <div class = "news-item">(플레이 시흥) 2026년 갯골생태공원 축제</div>
            </div>
          </div>
      </div>

      <div class = "store-category">    
         
        <div class = "catery-container">
          <h3>카페·식당</h3>
          <a class = "all-category" href="{{ url_for('store_list') }}"> 전체보기 ></a>
        </div>
      </div>
        {% for store in stores %}
          {% include 'layout/store_card.html' %}
          {% else %}
            <p class="empty-message">아직 등록된 스토어가 없습니다</p>
          {% endfor %}

    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/bottom_nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}