{% extends 'layout/common_layout.html' %}
{% import 'macro/banner-ui.html' as banner_ui %}
{% block title %} 투개더 로그인 {% endblock %}
{% block css %}
  <link rel="preload" as="image" href="{{url_for('static', filename='img/background_summer_togettheriding.webp')}}">
  <style>
    :root {
      --bg-image: url("{{url_for('static', filename='img/background_summer_togettheriding.webp')}}");
    }
  </style>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/common_modal.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/macro/banner-ui.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
  <div class="logo-container">
    <img src="{{url_for('static', filename='img/logo_summer(none_back).svg')}}" class="main-logo" alt="메인 로고">
  </div>

  <div class="contents-container">
    <form action="/login" method="POST" class="login-inp-container">
      <input type="text" inputmode="numeric" name="order_number" class="order-number" placeholder="예약자 뒷번호 4자리" required>
      <button type="button" class="btn-help" id="checkway-number">주문 확인방법 ⓘ</button>
      <button type="submit" class="login-btn">
        로그인 <i class ="fas fa-sign-in-alt"></i>
      </button>
    </form>

    <div class="bef-reservation-container">
      <div class="reservation-divider">아직 예약 전이신가요?</div>
      <a href="https://zrr.kr/kf7XxQ" class="sub-btn reservation-link"><i class="fas fa-calendar-alt"></i>실시간 예약 바로가기</a>
      <div class="sub-btn question-btn" id="btn-faq"><i class="fas fa-question-circle"></i>자주하는 질문 확인</div>
    </div>
  </div>
  
  {% include 'modal/checkwaynum.html' %}
  {% include 'modal/faq_modal.html' %}
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{{url_for('static', filename='js/common_modal.js')}}"></script>
{% endblock %}