<svg id="_레이어_2" data-name="레이어 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
      }

      .cls-2 {
        fill: url(#_무제_그라디언트_44);
      }
    </style>
    <linearGradient id="_무제_그라디언트_44" data-name="무제 그라디언트 44" x1="-211.09" y1="-77.23" x2="-210.09" y2="-78.23" gradientTransform="translate(6754.78 -2471.34) scale(32 -32)" gradientUnits="userSpaceOnUse">
      <stop offset="0" stop-color="#2f7cff"/>
      <stop offset="1" stop-color="#1459d9"/>
    </linearGradient>
  </defs>
  <g id="_레이어_1-2" data-name="레이어 1">
    <g id="check-box">
      <circle class="cls-2" cx="16" cy="16" r="16"/>
      <path class="cls-1" d="M7.5,16l6,6,11-13"/>
    </g>
  </g>
</svg>