<nav class="bottom-nav">
  <ul>
    <li class="nav-item">
      <a href="{{url_for('mypage')}}">
        <span class="nav-icon">{{bottom_icon.home_icon()}}</span>
        <span class="nav-text">마이페이지</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{url_for('message')}}">
        <span class="nav-icon">{{bottom_icon.message_icon()}}</span>
        <span class="nav-text">메세지</span>
      </a>
    </li>

    <li class="nav-item active">
      <a href="{{url_for('index')}}">
        <span class="nav-icon">{{bottom_icon.home_icon()}}</span>
        <span class="nav-text">홈</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{url_for('picture')}}">
        <span class="nav-icon">{{bottom_icon.image_icon()}}</span>
        <span class="nav-text">이미지</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a href="{{url_for('store_list')}}">
        <span class="nav-icon">{{bottom_icon.store_icon()}}</span>
        <span class="nav-text">협력매장</span>
      </a>
    </li>
  </ul>
</nav>