<div class="navigation">
  <ul>
    <li class="list {% if request.endpoint == 'mypage' %}active{% endif %}">
      <a href="{{url_for('mypage')}}">
        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
        <span class="text">마이페이지</span>
      </a>
    </li>

    <li class="list {% if request.endpoint == 'message' %}active{% endif %}">
      <a href="{{ url_for('message') }}">
        <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
        <span class="text">메세지</span>
      </a>
    </li>

    <li class="list {% if request.endpoint == 'index' %}active{% endif %}">
      <a href="{{ url_for('index') }}">
        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
        <span class="text">홈</span>
      </a>
    </li>

    <li class="list {% if request.endpoint == 'picture' %}active{% endif %}">
      <a href="{{ url_for('picture')}}">
        <span class="icon"><ion-icon name="image-outline"></ion-icon></span>
        <span class="text">사진</span>
      </a>
    </li>

    <li class="list">
      <a href="{{ url_for('store_list')}}">
        <span class="icon"><ion-icon name="qr-code-outline"></ion-icon></span>
        <span class="text">협력매장</span>
      </a>
    </li>
    
    <div class="indicator"></div>
  </ul>
</div>