<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="투게더 - 간편로그인">
  <meta property="og:description" content="네이버 주문번호로 로그인하세요!.">
  <meta property="og:image" content="{{ url_for('static', filename='img/togater_logo.png', _external=True)}}">

  <title>{% block title %}common layout{% endblock %}</title>
  {% block head %}{% endblock %}
  

  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css')}}">
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/common_layout.css')}}">
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/bottom_nav.css')}}">
  <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/common_modal.css')}}">

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "x06a1v1pv8");
</script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PRRHQBSF');</script>
  <!-- End Google Tag Manager -->

  {% block css %}
  {% endblock %}
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PRRHQBSF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="mobile-container">
    
    <header>
      <div class="header">{% block header %}{% endblock %}</div>
    </header>

    <div class = "scroll-wrapper">
      <main class="content-area">
        {% block content %}{% endblock %}
      </main>

      {% block footer %}
      <footer class = "footer-area">
        {% include 'layout/footer_layout.html' %}
      </footer>
      {% endblock %}
    </div>

    <nav class="bottom-nav-container">
      {% block bottom_nav %}{% endblock %}
    </nav>

    {% include 'modal/open_terms.html' %}
    {% include 'modal/open_privacy.html' %}
    {% include 'modal/open_copyright.html' %}
    
  </div>

  <script src = "{{url_for('static', filename='js/common_layout.js')}}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="{{ url_for('static', filename='js/common_modal.js')}}"></script>
  {% block script %}{% endblock %}
</body>
</html>