{% extends 'layout/common_layout.html' %}
{% block title %} 메인 페이지 레이아웃 {% endblock %}
{% block head %}
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=5d1gv38r94"></script>
{% endblock %}

{% block css %}
 <link rel = "stylesheet" href = "{{url_for('static', filename = 'css/index.css')}}">
{% endblock %}


  {% block header %}
    {% include 'layout/header_layout.html' %}  
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block bottom_nav %}
    {% include 'layout/bottom_nav.html' %}
  {% endblock %}

  <!-- 푸터는 자동으로 가져옴 -->

  {% block script %}
    <script src="{{ url_for('static', filename='js/bottom_nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  {% endblock %}